.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;

  // transition de la navbar con stimulus/ lecture de LeWagon
  background-color: transparent;
  transition: 0.5s background-color ease;

  // position: relative; // para que el navbar quede fixed en el codigo de JS vanilla
}

.navbar-lewagon-white {
   // transition de la navbar con stimulus/ lecture de LeWagon
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 100px;
}
.nav-item a {
  color: #1edc87;
  text-decoration: none;
}
#rch :hover {
  color: white;
  background-color: #1edc87;
  box-sizing: border-box;
  text-decoration: none;
}

// para que el navbar quede fixed en el codigo de JS vanilla

// .navbar.fixed-top {
//   position: fixed;
// }
