.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 100px;
}
.nav-item a {
  color: #1edc87;
  text-decoration: none;
}
#rch :hover {
  color: white;
  background-color: #1edc87;
  box-sizing: border-box;
  text-decoration: none;
}
